:root {
	--general-color-1: #FFFFFF;
	--general-color-2: #000000;
	--general-color-3: #B5121B;
	--button-primary: var(--general-color-3);
	--general-color-5: #AC1622;
	--general-color-6: #E5E6EA;
	--general-color-7: #f6f6f8;
	--general-color-8: #252525;
	--text-primary: var(--general-color-2);
	--text-secondary: var(--general-color-1);
	--general-color-9: #D6D6D6;
	}
