:root {
	--container-xs: var(--general-dimension-5);
	--container-md: var(--general-dimension-1);
	--container-lg: var(--general-dimension-2);
	--container-xl: var(--general-dimension-4);
	--container-width: 3840px;
	--button-medium: 12px 32px;
	--general-dimension-1: 25px;
	--general-dimension-2: 35px;
	--general-dimension-4: 50px;
	--general-dimension-5: 10px;
	--page-layout-md: var(--general-dimension-2);
	--page-layout-lg: var(--general-dimension-4);
	--page-top-offset: 130px;
	--spacer-small: 10px;
	--spacer-medium: 20px;
	--spacer-large: 30px;
	}