@source inline("{hover:,group-hover:,lg:,md:,}{bg,text,decoration,border,ring,fill,from,to}-{general-color-1,general-color-2,general-color-3,button-primary,general-color-5,general-color-6,general-color-7,general-color-8,text-primary,text-secondary,general-color-9,button-secondary,general-color-10,text-link}");

@theme {
	--color-general-color-1: var(--general-color-1);
	--color-general-color-2: var(--general-color-2);
	--color-general-color-3: var(--general-color-3);
	--color-button-primary: var(--button-primary);
	--color-general-color-5: var(--general-color-5);
	--color-general-color-6: var(--general-color-6);
	--color-general-color-7: var(--general-color-7);
	--color-general-color-8: var(--general-color-8);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-general-color-9: var(--general-color-9);
	--color-button-secondary: var(--button-secondary);
	--color-general-color-10: var(--general-color-10);
	--color-text-link: var(--text-link);
}